.catalog {
  position: relative;
  padding: 35px 0;

  &__products {
    width: 100%;
    @include between(25px);
  }

  &__product {
    padding: 20px 15px;
    flex-grow: 1;
    background: #f9f9f9;
    border-radius: 20px;
    text-align: center;
    @include flex-col(center, center, 10px);

    img {
      height: 112px;
      width: 100%;
      object-fit: contain;
    }
  }
}
