.food-fresh {
  padding: 135px 0 35px;

  .container {
    @include flex-row(flex-start, stretch, 20px);
  }

  .col {
    width: 100%;
    max-width: 524px;
    align-items: flex-start;
    gap: 40px;
  }

  .title {
    color: var(--primary);
    font-size: 48px;
    font-weight: 700;
  }

  a {
    padding: 10px 25px;
    color: #fff;
    background: var(--primary);
    border-radius: 10px;
  }

  .img {
    position: relative;
    height: 405px;
    flex-grow: 1;

    .bg-img {
      border-radius: 20px;
      overflow: hidden;
    }

    .chef {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

// @include show(".food-fresh", false);
