.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  transition: var(--transition);
  z-index: 9;

  &__top {
    height: 60px;
    width: 100%;
    color: #fff;
    background: var(--primary);

    .container {
      height: 100%;
      @include flex-row(flex-start, center, 24px);
    }

    .menu {
      @include start(row, 50px);
    }

    .socials {
      margin-left: auto;
      margin-right: 30px;
      @include start(row, 15px);
    }

    .pickup {
      padding: 0 15px;
      width: 100%;
      max-width: 545px;
      height: 100%;
      background: var(--primary-light);
      @include start(row, 15px);
    }
  }

  &__nav {
    padding: 25px 0;
    height: 115px;
    width: 100%;
    transition: var(--transition);

    .container {
      @include between(24px);
    }

    .container > .menu {
      @include start(row, 50px);
      display: none;

      a {
        transition: var(--transition);

        &:hover {
          color: var(--primary);
        }
      }
    }

    &-logo {
      height: 35px;

      img {
        height: 100%;
        width: auto;
      }
    }

    &-btn {
      position: relative;

      &:hover .categories {
        display: flex;
      }

      .row {
        padding: 0 25px;
        height: 42px;
        width: 300px;
        color: #fff;
        background: var(--primary);
        border-radius: 25px;
        cursor: pointer;
        align-items: center;

        span {
          margin: 0 auto;
        }
      }

      .categories {
        position: absolute;
        top: calc(100% + 20px);
        display: none;

        @include before {
          top: -20px;
          left: 0;
          width: 100%;
          height: 20px;
        }
      }
    }

    &-search {
      padding: 4px;
      width: 370px;
      height: 45px;
      border: 1px solid var(--gray);
      border-radius: 25px;
      @include between;

      .row {
        padding: 0 20px;
        flex-grow: 1;
        align-items: center;
        gap: 12px;
      }

      input {
        flex-grow: 1;
        font-size: 15px;
      }

      button {
        width: 110px;
        height: 100%;
        font-size: 15px;
        background: var(--gray);
        border-radius: 25px;
      }
    }

    &-contacts {
      @include start(column);

      .text-sm {
        color: #585858;
      }
    }
  }

  @include media("1380px") {
    &__top {
      .socials {
        display: none;
      }

      .pickup {
        margin-left: auto;
      }
    }

    &__nav {
      .container {
        gap: 24px;
      }

      &-btn .row {
        width: 240px;
      }

      &-search {
        width: 320px;
      }
    }
  }
  @include media("xl") {
    position: absolute;
    &__top {
      .menu {
        display: none;
      }

      .pickup {
        width: 100%;
        max-width: 100%;
      }
    }
    &__nav {
      padding: 15px 0;
      height: auto;

      &-btn {
        display: none;
      }
      &-search {
        display: none;
      }
    }
  }
  @include media("sm") {
    &__top {
      padding: 14px 0;
      height: auto;
      background: var(--primary-light);

      .pickup {
        padding: 0;
      }
    }

    &__nav {
      padding: 24px 0 !important;

      .container {
        justify-content: center;
      }

      &-logo {
        height: 32px;
      }

      &-contacts {
        display: none !important;
      }
    }
  }
}

.mobile__tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 65px;
  width: 100%;
  box-shadow: 0 -4px 29px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  z-index: 10;
  display: none;

  .container {
    @include between(15px);
  }

  &-tab {
    position: relative;
    cursor: pointer;
    @include flex-col(center, center, 4px);
    --icon-size: 32px;

    &:last-child {
      position: relative;
      width: 80px;
      height: 100px;
      color: #fff;
      background: var(--primary);
      border-radius: 16px 16px 0 0;
      transform: translateY(-10px);
      z-index: 2;
      --icon-size: 24px;
    }
  }

  .categories {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(-50vh + 50%));
    width: 480px;
    z-index: 2;
  }

  .socials {
    position: absolute;
    bottom: 80px;
    left: 0;
    width: 100%;
    @include flex-col(center, center, 10px);

    a {
      width: 56px;
      height: 56px;
      @include center;
      border-radius: 50%;
      transition: var(--transition);
      opacity: 0;
      display: none;
    }
  }

  @include media("xl") {
    @include flex-row;
  }
  @include media("380px") {
    &-tab {
      gap: 2px;
      --icon-size: 28px;

      &:last-child {
        width: 80px;
        height: 85px;
      }
    }
  }
  @include media("xxs") {
    &-tab {
      gap: 2px;
      --icon-size: 24px;

      &:last-child {
        width: 80px;
        height: 85px;
      }

      .text-xs {
        font-size: 11px;
      }
    }
  }
}

.mobile__categories {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff40;
  display: none;
  z-index: 9;

  &.active {
    @include center;
  }

  &-content {
    position: relative;
    width: 480px;
  }

  &-close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
    cursor: pointer;
  }

  .menu {
    padding: 35px;
    width: 100%;
    color: #fff;
    background: var(--primary);
    border-radius: 20px;
    @include start(column, 15px);

    .menu-item:hover {
      & > a::after {
        opacity: 1;
      }
    }

    a {
      position: relative;

      &::after {
        position: relative;
        content: "";
        transform: translate(10px, 5px);
        width: 28px;
        height: 20px;
        display: inline-block;
        background: url("/assets/img/icons/arrow-right.svg") center/contain
          no-repeat;
        transition: 0.2s ease-in-out;
        opacity: 0;
      }
    }

    & > .menu-item {
      position: relative;
      width: 100%;

      & > a {
        position: relative;
        padding-left: 35px;

        @include before {
          top: 0;
          left: 0;
          width: 25px;
          height: 25px;
        }
      }

      &:nth-child(1) > a::before {
        background: url("/assets/img/icons/healthy-food.svg") center/contain
          no-repeat;
      }
      &:nth-child(2) > a::before {
        background: url("/assets/img/icons/wheat.svg") center/contain no-repeat;
      }
      &:nth-child(3) > a::before {
        background: url("/assets/img/icons/molochniye-producti.svg")
          center/contain no-repeat;
      }
      &:nth-child(4) > a::before {
        background: url("/assets/img/icons/soleniya.svg") center/contain
          no-repeat;
      }
      &:nth-child(5) > a::before {
        background: url("/assets/img/icons/gribi.svg") center/contain no-repeat;
      }
      &:nth-child(6) > a::before {
        background: url("/assets/img/icons/moreproductki.svg") center/contain
          no-repeat;
      }
      &:nth-child(7) > a::before {
        background: url("/assets/img/icons/zamorzka.svg") center/contain
          no-repeat;
      }
      &:nth-child(8) > a::before {
        background: url("/assets/img/icons/meat.svg") center/contain no-repeat;
      }
      &:nth-child(9) > a::before {
        background: url("/assets/img/icons/kolbasi.svg") center/contain
          no-repeat;
      }
      &:nth-child(10) > a::before {
        background: url("/assets/img/icons/egg.svg") center/contain no-repeat;
      }
    }

    & > .menu-item > .sub-menu {
      display: none;
    }
  }

  @include media("sm") {
    &-content {
      width: 100%;
      max-width: calc(100vw - 32px);
    }
  }
}

.header-sticky {
  transform: translateY(-60px);

  .header__nav {
    padding: 15px 0;
    height: auto;
    background: #fff;

    &-btn .row {
      width: 225px;
    }

    &-search {
      display: none;
    }

    .container > .menu {
      display: flex;
    }
  }

  @include media("1380px") {
    .header__nav-contacts {
      display: none;
    }
  }
  @include media("xl") {
    transform: translateY(0);

    .header__nav .menu {
      display: none !important;
    }
    .header__nav-contacts {
      display: flex;
    }
  }
}
