.sklad {
  padding: 35px 0 45px;

  .top {
    margin-bottom: 40px;
  }

  &__map {
    position: relative;
    height: 400px;
    width: 100%;

    &-location {
      padding: 22px 25px;
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      background: var(--primary);
      @include start(row, 8px);
    }
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}
