---
import App from "../layouts/App.astro";
import { Section, H1, H2, Img, Icon, Block, Col } from "starter-kit";
import { TheTop, TheOffers, TheClients, TheSklad } from "components";
---

<App title="Доставка и оплата">
  <main>
    <!-- TheDelivery -->
    <Section name="delivery">
      <TheTop title="Доставка" />
      <div class="delivery__content">
        <Col>
          <p>
            Наша компания располагает собственным автопарком, поэтому вам больше
            не придется заботиться о необходимости самостоятельно выезжать за
            товаром к поставщику.
            <br /><br />
            Обратившись к нам, вы сэкономите массу полезного времени, которое можно
            потратить на создание новых блюд для ваших клиентов, на украшение ресторана,
            на рекламу. Занимайтесь вашей основной деятельностью, избавьтесь от головной
            боли насчет закупаемых продуктов, предоставьте это решать нам.
            <br /><br />
            От вас только требуется разместить заказ и назначить дату поставки.
            <br /><br />
            Основной регион доставки - Москва и Московская область.
            <br /><br />
            <span class="text-primary">
              По договоренности возможна бесплатная доставка в пределах Москвы и
              Московской области</span
            >
            <br /><br />
            Возможна доставка в соседние области, стоимость оговаривается дополнительно
            в каждом отдельном случае.
          </p>
        </Col>
        <Img src="about/delivery.png" class="delivery__img" only />
      </div>
    </Section>
    <!-- ThePayment -->
    <Section name="payment">
      <TheTop title="Оплата" />
      <div class="payment__content">
        <p>
          При доставке продуктов в рестораны через компанию "Фуд-Фреш" очевидны
          также и выгоды при взаиморасчетах с клиентами. В первую очередь,
          предусмотрена гибкая система скидок, которая напрямую зависит от
          объема и от ассортимента доставки.
          <br /><br />
          Также предусмотрены разнообразные способы оплаты:
        </p>
        <ul>
          <li>наличными водителю-экспедитору при получении товара;</li>
          <li>оплата по безналичному расчету;</li>
        </ul>
        <p>
          Кроме того, для постоянных клиентов имеется возможность отсрочки
          платежа.
        </p>
      </div>
    </Section>
    <!-- TheTerms -->
    <Section name="terms">
      <TheTop title="Условия сотрудничества" />

      <div class="terms__content">
        <p>
          С нами Вы получите возможность сэкономить средства на закупках, не
          теряя качество продуктов и получить при этом надёжного партнёра,
          оградив себя от проблем и забот по поиску надёжного поставщика на
          долгие годы вперёд.
          <br /><br />
          Мы также имеем Сертификат ЭЦП и готовы работать на нужной Вам площадке.
          <br /><br />
          <span class="text-primary font-bold">
            Немного об условиях сотрудничества:
          </span>
        </p>
        <ul>
          <li>Мы работаем с любыми формами Юр. лиц, а также с Физ. Лицами.</li>
          <li>Форма оплаты наличными или безналичным способом.</li>
          <li>
            Первые 2-3 заказа, оплачиваемые безналичным способом, всегда
            делаются по предоплате. Далее работает договор с отсрочкой от 5
            дней.
          </li>
          <li>
            При оплате заказов до 400 000р наличными, оплата проводится по факту
            доставки товара.
          </li>
          <li>
            В случае безналичной оплаты, загрузка и отправка авто с товаром
            осуществляется только после подтверждения транзакции или поступления
            денег на счёт (первые 2-3 заказа).
          </li>
          <li>
            Договор подписывается после доставки первого заказа. Его привезёт
            наш водитель вместе с товаром, уже подписанный и с проставленными
            печатями с нашей стороны.
          </li>
          <li>
            Подписание договора до первого заказа возможно и рассматривается
            индивидуально по Вашей просьбе.
          </li>
          <li>Минимальный заказ в пределах МКАД 7000р.</li>
          <li>
            По М.О. минимальный заказ обсуждается индивидуально. Доставка
            бесплатная.
          </li>
          <li>
            Приём заказов по e-mail круглосуточный, однако существует ряд
            ограничений из-за логистики:
            <ol>
              <li>
                Заказы, отправленные позже 14:00, чаще всего доставляются на
                следующий день.
              </li>
              <li>
                Если доставка Вам нужна до 10:00, то заказ лучше отправлять за
                24 часа.
              </li>
              <li>
                Большие по весу (более 10 тонн) или позициям (более 75) могут
                собираться чуть дольше и доставляются обычно в вечернее время
                (17-20). Но это не правило.
              </li>
            </ol>
          </li>
          <li>
            Мы готовы двигаться по цене уже после 4-5 заказов, т.к. становится
            ясно, как нам построить взаимовыгодное сотрудничество.
          </li>
          <li>
            Постоянные клиенты, разумеется, получают различные бонусы, в виде
            скидок, более ранней или быстрой доставки, ручной выборки товара,
            иногда в виде подарков регулярно заказываемых товаров, отсрочки
            оплаты до месяца и более.
          </li>
        </ul>
        <p class="text-primary font-bold">
          Для заключения договора и начала продуктивного сотрудничества по
          безналичной оплате нам необходимы максимальные сведения о Вашей
          организации.
        </p>
        <ul>
          <li>Карточка организации</li>
          <li>ОГРН</li>
          <li>Свид. ФНС</li>
          <li>Лист записи ЕГРЮЛ</li>
          <li>Устав</li>
        </ul>
        <p class="text-primary font-bold">
          Для работы наличными, достаточно карточки.
        </p>
      </div>
    </Section>
    <!-- TheOffers -->
    <TheOffers />
    <!-- TheClients -->
    <TheClients />
    <!-- TheSklad -->
    <TheSklad />
  </main>
</App>
