---
import App from "../layouts/App.astro";
import { Section, H1, H2, Img, Block, Col } from "starter-kit";
import {
  TheIntro,
  TheCatalog,
  TheOffers,
  TheSpecial,
  TheLeaders,
  TheClients,
  TheSklad,
} from "components";
---

<App title="Главная">
  <main>
    <!-- TheIntro -->
    <TheIntro />
    <!-- TheCatalog -->
    <TheCatalog />
    <!-- TheOffers -->
    <TheOffers />
    <!-- TheSpecial -->
    <TheSpecial />
    <!-- TheFoodFresh -->
    <Section name="food-fresh">
      <Col>
        <div class="title">Фуд Фреш – это</div>
        <p class="text-xl font-light">
          Полный ассортимент продовольственной и товарной продукции в секторе
          <span class="font-bold text-primary">HoReCa</span>
          <br /><br />
          Ежедневные поставки по
          <span class="font-bold text-primary">Москве и Московской области</span
          >
          <br /><br />
          Гибкая система скидок,
          <span class="font-bold text-primary">минимальные цены</span>, мелкие
          партии, собственная служба доставки
        </p>
        <a href="#">Подробнее о компании</a>
      </Col>
      <div class="img">
        <Img src="about/bg.png" class="bg-img" />
        <Img src="about/chef.png" class="chef" />
      </div>
    </Section>
    <!-- TheLeaders -->
    <TheLeaders />
    <!-- ThePriceList -->
    <Section name="price-list">
      <div class="content">
        <H2>Получите наш оптовый прайс лист</H2>
        <p class="font-light">Пришлем его Вам на почту за 10 минут</p>
        <a href="#">Запросить прайс лист</a>
      </div>
    </Section>
    <!-- TheClients -->
    <TheClients />
    <!-- TheSklad -->
    <TheSklad />
  </main>
</App>
