---
import App from "../layouts/App.astro";
import { Section, H1, H2, Img, Icon, Block, Col } from "starter-kit";
import {
  TheAside,
  TheCatalog,
  TheOffers,
  TheSpecial,
  TheLeaders,
  TheClients,
  TheSklad,
} from "components";
---

<App title="Главная">
  <main>
    <!-- TheIntro -->
    <Section name="intro">
      <TheAside />
      <div class="intro__content">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="intro__title">
                <div class="text-primary">Фуд Фреш –</div>
                Ваш надежный поставщик продуктов питания
              </div>
              <Img src="intro/1.png" class="bg-img" />
            </div>
            <div class="swiper-slide">
              <div class="intro__title">
                <div class="text-primary">Lorem IPsum –</div>
                Lorem ipsum dolor sit amet.
              </div>
              <Img src="intro/2.png" class="bg-img" />
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

        <div class="intro__bottom">
          <div class="intro__bottom-item">
            <Icon src="supermarket-gift.svg" />
            <span>Бонусная система</span>
          </div>
          <div class="intro__bottom-item">
            <Icon src="warranty.svg" />
            <span> Гарантия свежести</span>
          </div>
          <div class="intro__bottom-item">
            <Icon src="cash.svg" />
            <span>Лучшие цены </span>
          </div>
          <div class="intro__bottom-item">
            <Icon src="delivery-van.svg" />
            <span>Быстрая доставка </span>
          </div>
        </div>
      </div>
    </Section>
    <!-- TheCatalog -->
    <TheCatalog />
    <!-- TheOffers -->
    <TheOffers />
    <!-- TheSpecial -->
    <TheSpecial />
    <!-- TheFoodFresh -->
    <Section name="food-fresh">
      <Col>
        <div class="food-fresh__title">Фуд Фреш – это</div>
        <p class="text-xl font-light">
          Полный ассортимент продовольственной и товарной продукции в секторе
          <span class="font-bold text-primary">HoReCa</span>
          <br /><br />
          Ежедневные поставки по
          <span class="font-bold text-primary">Москве и Московской области</span
          >
          <br /><br />
          Гибкая система скидок,
          <span class="font-bold text-primary">минимальные цены</span>, мелкие
          партии, собственная служба доставки
        </p>
        <a class="btn" href="/about">Подробнее о компании</a>
      </Col>
      <div class="food-fresh__img">
        <Img src="about/bg.png" class="bg-img" />
        <Img src="about/chef.png" class="chef" />
      </div>
    </Section>
    <!-- TheLeaders -->
    <TheLeaders />
    <!-- ThePriceList -->
    <Section name="price-list">
      <div class="content">
        <H2>Получите наш оптовый прайс лист</H2>
        <p class="font-light">
          Пришлем его Вам на почту <br class="sm:hidden" /> за 10 минут
        </p>
        <button class="btn" onclick="openPopup()">
          Запросить прайс лист
        </button>
      </div>
    </Section>
    <!-- TheClients -->
    <TheClients />
    <!-- TheSklad -->
    <TheSklad />
  </main>
</App>
