---
import App from "../layouts/App.astro";
import { Section, H1, H2, Iframe, Block } from "starter-kit";
import { TheIntro, TheCatalog, TheOffers } from "components";
---

<App title="Главная">
  <main>
    <!-- TheIntro -->
    <TheIntro />
    <!-- TheCatalog -->
    <TheCatalog />
    <!-- TheOffers -->
    <TheOffers />
  </main>
</App>
