---
import App from "../layouts/App.astro";
import { Image } from "astro:assets";
import { Section, H1, H2, Iframe, Block } from "starter-kit";
---

<App title="Главная">
  <main>
    <div class="section"></div>
  </main>
</App>
