---
import App from "../layouts/App.astro";
import { Section, H1, H2, Img, Block, Col } from "starter-kit";
import { TheTop, TheSpecial, TheClients, TheSklad } from "components";
---

<App title="Цены">
  <main>
    <!-- ThePricing -->
    <Section name="pricing">
      <TheTop title="Прайс-лист на продукты питания" />

      <div class="pricing__content">
        <div class="pricing__text">
          <p class="text-xl font-light">
            Для снабжения ресторанов, столовых, кафе, баров и других предприятий
            питания
            <span class="text-primary font-bold">
              предлагаем поставки полного ассортимента
            </span>
            качественных продовольственных и сопутствующих товаров.
            <br /><br />
            <span class="text-primary font-bold">Минимальные цены</span>,
            удобная доставка и неизменно высокое качество товаров - залог успеха
            Вашего бизнеса!
            <br /><br />
            Цены на продукцию постоянно меняются! <br />
            <span class="text-primary font-bold">
              Вы можете ознакомиться с актуальными на сегодняшний день ценами в
              нашем прайс-листе.
            </span>
          </p>
          <button class="btn" onclick="openPopup('form')">Запросить прайс лист</button
          >
        </div>
        <Img src="price-list-img.png" only />
      </div>
    </Section>
    <!-- TheSpecial -->
    <TheSpecial />
    <!-- TheClients -->
    <TheClients />
    <!-- TheSklad -->
    <TheSklad />
  </main>
</App>
