---
import { Section, Img, Col, Row } from "starter-kit";
import { TheCategories } from "components";
---

<aside class="aside">
  <TheCategories />
  <a href="#" class="aside__banner">
    <div class="text-sm font-light">служба контроля качества</div>
    <div class="text-xl">
      Food<span class="text-primary">Fresh</span> - <br /> Свежесть
    </div>
    <Img src="icons/arrow-green-right.svg" only/>
  </a>
</aside>
