---
import { WpNav } from "starter-kit";

const list = [
  {
    name: "Овощи и фрукты",
    href: "/catalog",
    children: [
      {
        name: "Овощи",
        href: "/catalog-2",
      },
      {
        name: "Фрукты",
        href: "/catalog-2",
      },
      {
        name: "Зелень",
        href: "/catalog-2",
      },
      {
        name: "Ягоды",
        href: "/catalog-2",
      },
    ],
  },
  {
    name: "Бакалея",
    href: "/catalog",
    children: [
      {
        name: "Овощи 2",
        href: "/catalog-2",
      },
      {
        name: "Фрукты 2",
        href: "/catalog-2",
      },
      {
        name: "Зелень 2",
        href: "/catalog-2",
      },
      {
        name: "Ягоды 2",
        href: "/catalog-2",
      },
    ],
  },
  {
    name: "Молочные продукты",
    href: "/catalog",
  },
  {
    name: "Соленья ",
    href: "/catalog",
  },
  {
    name: "Грибы ",
    href: "/catalog",
  },
  {
    name: "Морепродукты ",
    href: "/catalog",
  },
  {
    name: "Заморозка ",
    href: "/catalog",
  },
  {
    name: "Мясо и птица ",
    href: "/catalog",
  },
  {
    name: "Колбасы ",
    href: "/catalog",
  },
  {
    name: "Яйца ",
    href: "/catalog",
  },
];
---

<div class="categories">
  <WpNav list={list} />
</div>
