---
import { Section, Img, Icon, Col, Row } from "starter-kit";
import { TheTop } from "components";
---

<Section name="clients">
  <TheTop title="Нам доверяют" btn={true} />

  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <Img src="clients/madi.png" only />
      </div>
      <div class="swiper-slide">
        <Img src="clients/tri-plavila.png" only />
      </div>
      <div class="swiper-slide">
        <Img src="clients/energo.png" only />
      </div>
      <div class="swiper-slide">
        <Img src="clients/finance.png" only />
      </div>
      <div class="swiper-slide">
        <Img src="clients/tropikana.png" only />
      </div>
      <div class="swiper-slide">
        <Img src="clients/pocatom.png" only />
      </div>
      <div class="swiper-slide">
        <Img src="clients/rostelecom.png" only />
      </div>
      <div class="swiper-slide">
        <Img src="clients/les.png" only />
      </div>
    </div>
  </div>
</Section>
