---
import { Section, Img, Icon, Col, Row } from "starter-kit";
import { TheTop } from "components";
---

<Section name="catalog">
  <TheTop title="Каталог продуктов" btn={true} />
  <div class="catalog__products swiper">
    <div class="swiper-wrapper">
      <a href="#" class="swiper-slide catalog__product">
        <Img src="catalog/fruits.png" only />
        <span>Овощи и фрукты</span>
      </a>
      <a href="#" class="swiper-slide catalog__product">
        <Img src="catalog/bakeleya.png" only />
        <span>Бакалея</span>
      </a>
      <a href="#" class="swiper-slide catalog__product">
        <Img src="catalog/milk.png" only />
        <span>Молочные продукты</span>
      </a>
      <a href="#" class="swiper-slide catalog__product">
        <Img src="catalog/soleniya.png" only />
        <span>Соленья</span>
      </a>
      <a href="#" class="swiper-slide catalog__product">
        <Img src="catalog/gribi.png" only />
        <span>Грибы</span>
      </a>
      <a href="#" class="swiper-slide catalog__product">
        <Img src="catalog/moreprodukti.png" only />
        <span>Морепродукты</span>
      </a>
      <a href="#" class="swiper-slide catalog__product">
        <Img src="catalog/fruits.png" only />
        <span>Овощи и фрукты</span>
      </a>
      <a href="#" class="swiper-slide catalog__product">
        <Img src="catalog/bakeleya.png" only />
        <span>Бакалея</span>
      </a>
      <a href="#" class="swiper-slide catalog__product">
        <Img src="catalog/milk.png" only />
        <span>Молочные продукты</span>
      </a>
      <a href="#" class="swiper-slide catalog__product">
        <Img src="catalog/soleniya.png" only />
        <span>Соленья</span>
      </a>
      <a href="#" class="swiper-slide catalog__product">
        <Img src="catalog/gribi.png" only />
        <span>Грибы</span>
      </a>
      <a href="#" class="swiper-slide catalog__product">
        <Img src="catalog/moreprodukti.png" only />
        <span>Морепродукты</span>
      </a>
    </div>
  </div>
</Section>
