---
import { Section, H2, Img, Icon, Col, Row } from "starter-kit";
import { TheAside } from "components";
---

<Section name="offers">
  <div class="offers__item">
    <Col>
      <H2>Получите наш оптовый прайс лист</H2>
      <p class="font-light">Пришлем его Вам на почту за 10 минут</p>
      <a href="#">Запросить прайс лист</a>
    </Col>
  </div>
  <div class="offers__item">
    <Col>
      <H2>Минимальный заказ от 10 000 рублей</H2>
      <p class="font-light">
        Мы работаем только с оптовыми и мелкооптовыми покупателями. Подробнее в
        разделе Доставка и оплата
      </p>
      <a href="#">Подробнее</a>
    </Col>
  </div>
</Section>
