---
import { H2, Img } from "starter-kit";
---

<div class="popup popup--form">
  <div class="popup__close" onclick="closePopup('form')">
    <svg
      width="25"
      height="25"
      viewBox="0 0 25 25"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M1 1L23.5 23.5" stroke="currentColor" stroke-width="2"></path>
      <path d="M23.5 1L1 23.5" stroke="currentColor" stroke-width="2"></path>
    </svg>
  </div>

  <div class="popup__content">
    <form class="popup__form" id="form-content">
      <H2>Запрос прайс листа</H2>
      <p class="font-light">
        Заполните форму и мы пришлем Вам актуальный прайс лист
      </p>
      <div class="col">
        <input type="text" id="name" placeholder="Ваше имя" required />
        <input type="email" id="email" placeholder="E-mail" required />
        <input
          type="text"
          id="phone"
          class="v-mask"
          placeholder="Номер телефона"
          required
        />
        <button type="submit">Получить прайс лист</button>
        <div class="text-xs font-light">
          Отправляя заявку я даю согласие на обработку персональных данных
        </div>
      </div>
    </form>
    <div class="popup__success" id="form-success">
      <H2>Спасибо за Вашу заявку!</H2>
      <p class="font-light">Наши специалисты уже отправляют Вам прайс лист!</p>
      <Img src="offer-1-bg.png" only />
    </div>
  </div>
</div>

<div class="popup popup--map">
  <div class="popup__close" onclick="closePopup('map')">
    <svg
      width="25"
      height="25"
      viewBox="0 0 25 25"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M1 1L23.5 23.5" stroke="currentColor" stroke-width="2"></path>
      <path d="M23.5 1L1 23.5" stroke="currentColor" stroke-width="2"></path>
    </svg>
  </div>

  <div class="popup__content">
    <iframe
      src="https://yandex.ru/map-widget/v1/?lang=ru_RU&scroll=true&source=constructor-api&um=constructor%3Afe19273bb416c127185b88171dc3845fa278048ca162c0b48a344d1f95f223d5"
    ></iframe>
  </div>
</div>
