---
import { Section, Img, Icon, Col, Row } from "starter-kit";
import { TheTop } from "components";
---

<Section name="special">
  <TheTop title="Специальные предложения" btn={true} />

  <div class="special__products swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide special__product">
        <Img src="products/meat.png" only />
        <span>Говядина лопаточный отруб</span>
        <div class="text-primary font-bold">от 357,80 руб/кг</div>
        <a href="#">Подробнее</a>
      </div>
      <div class="swiper-slide special__product">
        <Img src="products/meat.png" only />
        <span>Говядина лопаточный отруб</span>
        <div class="text-primary font-bold">от 357,80 руб/кг</div>
        <a href="#">Подробнее</a>
      </div>
      <div class="swiper-slide special__product">
        <Img src="products/meat.png" only />
        <span>Говядина лопаточный отруб</span>
        <div class="text-primary font-bold">от 357,80 руб/кг</div>
        <a href="#">Подробнее</a>
      </div>
      <div class="swiper-slide special__product">
        <Img src="products/meat.png" only />
        <span>Говядина лопаточный отруб</span>
        <div class="text-primary font-bold">от 357,80 руб/кг</div>
        <a href="#">Подробнее</a>
      </div>
      <div class="swiper-slide special__product">
        <Img src="products/meat.png" only />
        <span>Говядина лопаточный отруб</span>
        <div class="text-primary font-bold">от 357,80 руб/кг</div>
        <a href="#">Подробнее</a>
      </div>
      <div class="swiper-slide special__product">
        <Img src="products/meat.png" only />
        <span>Говядина лопаточный отруб</span>
        <div class="text-primary font-bold">от 357,80 руб/кг</div>
        <a href="#">Подробнее</a>
      </div>
    </div>
  </div>
</Section>
